* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

select {
    background-color: lightslategray;
    border-radius: 10px;
    padding: 5px;
    border-color: gray;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    height: 40px;
}

option:hover {
    background-color: gray;
}
